@charset "UTF-8";

:root {
    --Color-Defaul: #D6000D;
    --Color-test:  rgba(161, 161, 161, 0.479);
    --Font: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/* Variaveis globais */
html, body {
    font-family: var(--Font);
    background-color: white;
    width: 100%;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}
.red {
    color: var(--Color-Defaul);
}
.btn {
    padding: 1vw 3vw;
    border: none;
    border-radius: 15px;
    background-color: var(--Color-Defaul);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}
.divs{
    height: 40vw;
    margin: 10vw 10vw 0 3vw;
    height: 100vh;
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw;
}
.logo {
    font-size: 5vw;
    font-weight: bold;
    font-style: italic;
}
nav ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    margin-top: 1vw;
}
nav li {
    margin-top: 15px;
    font-size: 2vw;
    font-weight: 500;
}
nav li .btn {
    padding: 1vw 4vw;
    margin-top: -10px;
}

/* Primeira parte do site */
#inicial {
    margin: 12vw 0vw 10vw 12vw;
}
#inicial img {
    display: flex;
    width: 30vw;
    float: left;
    margin-left: 6vw;
}
#cont-inicial {
    float: right;
    text-align: left;
    margin-top: 8vw;
    font-size: 2vw;
    margin-right: 6vw;
}
#cont-inicial p{
    font-size: 2vw;
    font-weight: bold;
}
#cont-inicial h1{
    font-size: 5vw;
    margin-bottom: 1.5vw;
}

 /* Segunda parte do site */
#meio {
    margin: 12vw 0vw 10vw 12vw;
    margin-bottom: 20vw;
 }
#meio img {
    display: flex;
    width: 43vw;
    float: right;
    margin-top: -5vw;
    margin-right: 10vw;
}
#cont-meio {
    display: block;
}
#cont-meio ul{
    margin-left: 5vw;
    list-style: none;
}
#cont-meio li{
    margin-bottom: 2.5vw;
    font-size: 2.3vw;
}
#cont-meio input[type=checkbox] {
    position: relative;
    margin-right: 1.5vw;

    width: .1px;
    height: .1px;
}
#cont-meio input[type=checkbox]:after {
    content: "";
    display: block;
    width: .5vw;
    height: 1.5vw;
    border: solid white;
    border-width: 0 .5vw .5vw 0;
    transform: rotate(45deg);
    position: absolute;
    top: -2vw;
    left: -.8vw;
}    
#cont-meio input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: -2.3vw;
    left: -1.9vw;
    background-color: var(--Color-Defaul);
    border-radius: 50%;
}
#ctt {
    margin-top: 8vw;
}
#ctt h4{
    font-size: 1.8vw;
    font-weight: 700;
    margin-bottom: 1vw;
}
#ctt input[type=text] {
    background-color: rgba(128, 128, 128, 0.404);
    color: gray;
    width: 20%;
}
#ctt input[type=text]::selection {
    border: 1px solid black;
}

/* Aréa final do site */
#final {
    display: flex;

    height: auto;

    margin-bottom: 150px;
    margin-top: 10%;
}
.persona {
    float: left;

    background-color: var(--Color-Defaul);

    padding: 3.8vw;

    border-radius: 50%;
}
.container {
    width: 50vw;

    margin-left: 50px;

    padding: 2vw;
    font-size: 1.5vw;
    background-color: rgba(128, 128, 128, 0.377);
    border-radius: 15px;
}
.text-person {
    width: 22vw;
    float: right;
}
.text-person h3{
    margin-top: 10px;
}


/* footer */

footer {
    width: 100%;
    padding: 15vw 0 25vw;
    background-color: black;
}
footer a {
    color: white;
    text-decoration: underline;
}

#cont-box {
    display: flex;
    color: white;
    font-size: 1.5vw;
}
.box {
    width: 25%;
    margin: 0 1.5%;
}
.box1 {
    margin-top: -35px;
}
.box1 h1{
    font-size: 5vw;
    margin-bottom: 23px;
    font-weight: bold;
    font-style: italic;
}
.box3 h2 + p{
    line-height: 50px;
}
.box h2{
    font-size: 2.3vw;
    margin-bottom: 20px;
    font-weight: bold;
}
.box p{
    line-height: 25px;
}
.box ul {
    display: flex;
    list-style: none;
    gap: 2vw;
}
.box li {
    font-size: 4vw;
}

@media screen and (max-width:600px) {
    .divs {
        height: auto;
    }
    
    nav .btn {
        display: none;
    }
    nav {
        display: block;
        text-align: center;
    }
    .logo {
        font-size: 15vw;
    }
    nav ul {
        margin-left: 15vw;
        margin-right: auto;
        width: 65vw;
        gap: 20px;
    }
    nav li {
        font-weight: normal;
        font-size: 6vw;
    }

    #inicial {
        margin: 40px 0px;
    }
    #inicial img, #cont-inicial{
        display: block;
        float: none;
    }
    #inicial img{
        width: 45vw;
        margin-left: 28vw;
    }
    #cont-inicial{
        margin-left: 15vw;
    }
    #cont-inicial p{
        font-size: 4.5vw;
    }
    #cont-inicial h1{
        font-size: 10vw;
        margin-left: -3.5vw;
    }
    #cont-inicial .btn{
        font-size: 6.5vw;
        margin-left: 0vw;
        padding: 8px 16px;
    }


    /* Meio */
    #meio {
        margin: 30vh 0 15vh;
    }
    #cont-middle{
        margin-left: 30vw;
    }
    #cont-middle img{
    display: block;
    width: 55vw;
    float: none;
    margin-bottom: 50px;
    margin-left: -12vw;
    }
    #cont-middle ul{
        margin-left: 0;
    }
    #cont-middle li{
        font-size: 4vw;
        font-weight: bold;
    }
    #cont-meio input[type=checkbox]:after {
        width: 1.5vw;
        height: 2.5vw;
        top: -3vw;
        left: -3.5vw;
    }    
    #cont-meio input[type=checkbox]:before {
        width: 5vw;
        height: 5vw;
        top: -3.5vw;
        left: -5vw;
    }
    #ctt {
        margin-left: -40px;
    }
    #ctt h4{
        font-size: 4vw;
        margin-bottom: 1vw;
        margin-left: -15px;
    }
    #ctt input[type=text] {
        display: block;
        width: 60%;
        font-size: 5vw;
        padding: 10px 14px;
        margin-bottom: 10px;
    }
    #ctt .call {
        padding: 15px 25px;
        font-size: 5vw;
    }

    /* Final */
    #final {
        display: contents;

    }
    .persona {
        padding: 8vw;
        margin: 10px 10px 0 10px;
    }
    .container {
        width: 85vw;
        height: 30vw;
        margin: 0 0 20px 7vw;
        font-size: 3.8vw;
    }
    .text-person {
        width: 62vw;
        float: right;
    }


    /* footer */ 
    footer {
        padding-bottom: 1px;
    }
    #cont-box {
        display: block;
        font-size: 3vw;
        width: 80vw;
        margin-left: 40px;
    }
    .box {
        width: auto;
        margin: 0 0 35px;
    }
    .box1 {
        text-align: center;
    }
    .box1 h1{
        font-size: 15vw;
        margin-bottom: 8px;
        font-weight: bold;
        font-style: italic;
    }
    .box1 p{
        font-size: 4vw;
    }
    .box ul {
        gap: 6vw;
    }
    .box li {
        font-size: 15vw;
    }
    .box3 h2 + p{
        line-height: 35px;
    }
    .box h2{
        font-size: 5vw;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .box p{
        font-size: 4vw;
        line-height: 25px;
    }
}